$bg-color: #e2e2e2;

$bg-color-header: #ff6b09;
$font-color-header: #fff;

$bg-color-list: #262e4c;
$color-border-list: #1c2340;
$font-color-list: #b1b2c9;
$bg-color-list-hover: #323b5c;

$bg-color-check: #404a6e;
$bg-color-check-hover: #171d37;

$bg-color-footer: #171d37;