@import 'variables';
@import 'mixins';

/****************
*     GALLERY
*****************/

.gallery {
    padding: 100px 0;
    background-color: $color-primary-light;

    h2 {
        @include h2-secondary;
    }

    img {
        margin: 0 auto;
        display: block; /*img é inline*/
    }

    .gallery-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80vh;
        max-width: 50vw;
        margin: 50px auto;
        justify-content: center;
        /*border: 1px solid black;*/

        div {
            border: 10px solid $color-primary;
            margin: 6px;
            width: 33%;

            img {
                width: 100%;
            }
        }
    }
    
}