@import 'variables';

%border {
    border: 2px solid #c4c4c4;
    border-radius: 8px;
} 

%box-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

%input {
    width: 100%;
    height: 40px;
    @extend %border;
    outline: none;
    padding: 0 30px;
}

/**************
* SUBMIT BTN
**************/

%submit-button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    @extend %box-shadow;
    transition: all 0.1 ease;
}

/**************
* SOCIAL BTNS
**************/

%flex-social-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

%socials-btn {
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    @extend %border;
    @extend %box-shadow;
    cursor: pointer;
}