@import 'extends';
@import 'variables';


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    max-width: none;
    @extend %box-shadow;
    padding: 50px;

    .social {
        .question {
            font-size: 15px;

            span {
                color: $color-primary;
                cursor: pointer;
            }
        }

        .btn {
            @extend %flex-social-btn;

            .btn-1, .btn-2 {
                @extend %socials-btn;
            }

            .btn-2 {
                background-color: #1877F2;
                color: white;
            }
        }

        .or {
            text-align: center;
        }
    }

    .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    div {
        position: relative;
        margin-bottom: 15px;

        input {
            @extend %input;

            &:focus {
                border: 2px solid $color-primary;
            }
        }

        i {
            position: absolute;
            padding: 10px;
        }

        .failure-icon, 
        .error {
            color: $color-error;
        }

        .success-icon {
            color: $color-success;
        }

        .error {
            font-size: 14.5px;
            margin: 5px;
        }

        .failure-icon, 
        .success-icon {
            right:0;
            opacity:0;
        }
    }

    button {
        @extend %submit-button;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    form, .content {
        width: 100%;
    }

    form {
        .social {
            .btn {
                flex-direction: column;
            }
        }
    }

    .content{    
        .image {
            height: 70vh;
        }
    }
}

@media (max-width: 425px) {
    form {
        padding: 20px;
    }
}